<!-- the_weather/weather/templates/weather/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wth.io</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#weather">Weather</a></li>
                <li><a href="#weather-output">Look here</a></li>
                <li><a href="#dev">Development</a></li>
            </ul>
        </nav>
        <section id="home">
            <h1 id="welcome">Welcome to the website</h1>
            <p id="sub">wth.io is simple web app created to provide and power accurate weather conditions and predictions.</p>
        </section>
        <section id="weather">
        <div class="hero-body">
            <div class="container-main">
                <h3 class="intro" id="side">What's the weather like ?</h3>
                <h1 class="title">
                    simple | fast | accurate
                </h1>
                <h3 class="intro" id="name">wth.io</h3>
                <footer id="scroll">Scroll down</footer>
            </div>
        </div>
    </section>
    <section id="weather-output">
        <div class="con">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="se">
            <div class="contn">
                <div class="colnms">
                    <div class="column is-offset-4 is-4">
                        {% for weather in weather_data %}
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">{{ weather.city }}</span>
                                            <br>
                                            <span class="subtitle">{{ weather.temperature }}° F</span>
                                            <br> {{ weather.description }}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="dev">
        <h1 class="h">About</h1>
        <p class="para">This website has been created by three friends as a annual project to graduate class 12.<br>
        HTML, CSS are the frontend technologies used along with a Python framework Django as the backend.</p>
        <h1 class="h">Code</h1>
        <p class="para">Make use of / Contribute to our code through <a href="" target="_blank">GitLab</a></p>
        <h1 class="h">Developers</h1>
        <ul class="para">
            <li>Surendar</li>
            <li>Shanmuganathan</li>
            <li>Pranav Kumar</li>
        </ul>
    </section>
    </div>
    
</body>
</html>