* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:1.7;
    color: rgb(0, 0, 0);
    background: #333;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS smooth scroll property */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);

}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1em;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size:n 4rem;
}

section p {
    font-size: 1.5rem
}

.container-main {
    display: block;
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.title {
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.intro {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
}

section#home {
    background: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center/cover;;
  }
  
  section#weather {
    background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;;
  }

  section#dev {
    background: url('https://images.unsplash.com/photo-1504257365157-1496a50d48f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80') no-repeat center center/cover;;
  }

  section#weather-output {
    background: url('https://images.unsplash.com/photo-1551221236-ced05a8385f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80') no-repeat center center/cover;;
  }

#scroll {
    padding-top: 190px;
}

.title {
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0%   {top: -50px;}
    100% {top: 200px;}
}

#side {
    position: relative;
    animation-name: question;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes question {
    0%   {left: -3000px;}
    100% {left: 0;}
}

#name {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: #fff 1px solid;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
}

#name:hover {
    transform: rotateY(180deg);
}

@keyframes btn {
    0%   {opacity:0}
    100% {opacity: 1}
}

.h {
    
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(59, 15, 163);
}

.para {
    font-family: 'ZCOOL XiaoWei', serif;
    padding-bottom: 50px;
    color: #000000;
    font-size: 20px;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    font-family: 'ZCOOL XiaoWei', serif;
}

button {
    background-color: rgba(255,255,255,0.5);
    border: 2px white solid;
}

#welcome {
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

#sub {
    font-family: 'ZCOOL XiaoWei', serif;
}

#dev {
    padding-left: 30%;
}

ul{
    list-style:none;
}

#weather-output {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight:400px;
}